body {
  background-color: #000;
  color: #fff;
}

div {
  width: 50%;
  margin-left: 25%;
  font-family: "Libre Baskerville", serif;
  margin-top: 50px;
  text-align: center;
}

img {
  width: 100%;
  border: 5px solid #fff;
}

div h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
